body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #A9CCE3;
}

.quem-somos{
    background-color: #25DE0C;
    color: white;
}

.parceiros{
    background-color: #48F07E;
    color: white;
}

.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}

.bg-footer{
    background-color: black;
    color: white;
}